<html ng-app="app" ng-controller="cptControl">
<head>
	<title>Chord progression tool</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-52254492-1', 'michalpaszkiewicz.co.uk');
	  ga('send', 'pageview');
	  </script>
</head> 
<body>

	<div id="main-container">
		<h1></h1>
		
		<div ng-repeat="chord in chords">
			<select ng-model="chord.letter">
				<option ng-repeat="noteObject in noteObjects" value="{{noteObject.number}}">{{noteObject.name}}</option>
			</select>
			<select ng-model="chord.type">
				<option value=""></option>
				<option value="m">m</option>
				<option value="7">7</option>
				<option value="Maj7">Maj7</option>
				<option value="sus4">Sus4</option>
				<option value="dim">dim</option>
			</select>
		</div>
		<div ng-click="addChord()" class="button">Add chord</div>
		
		<span ng-repeat="note in keyboard" class="note" ng-class="{'black': note.Black, 'inPlay': note.inPlay}">
			{{note.name}}
		</span>
		
		<div class="button" ng-click="play()">Start playing</div>
		
		<div class="push-footer"></div>	
	</div>

	<footer>
	By <a href="http://www.michalpaszkiewicz.co.uk">Michal Paszkiewicz</a>
	</footer>

	<script>
		var cptModule = angular.module('app', []).
		controller("cptControl", function cptControl($scope, $timeout){
			$scope.keyboard = [];
			$scope.chords = [];
			
			$scope.addChord = function()
			{
				$scope.chords.push({letter: 0, type: ""});
			}
			
			$scope.notes = ["a", "a#", "b", "c", "c#", "d", "d#", "e", "f", "f#", "g", "g#"];
			
			$scope.noteObjects = [];
			
			var setNoteObjects = function(){
				for(var i = 0; i < $scope.notes.length; i++){
					$scope.noteObjects.push({number: i, name: $scope.notes[i]})
				}
			}
			
			setNoteObjects();
			
			function Note(letter, number){
				this.Black = letter.indexOf("#") != -1;
				this.name = letter;
				this.number = number;
				this.inPlay = false;
				return this;
			}
			
			function addOctave(startNum, startChar){
				for(var i = 0; i < 12; i++){
					var correctNoteName = $scope.notes[startChar + i];
					var tempNote = new Note(correctNoteName, startNum * 12 + i)
					$scope.keyboard.push(tempNote);
				}
			}
			
			for(var i = 0; i < 2; i++){
				addOctave(i, 0);
			}
			
			function getChordNotes(chord){
				var nums = [];
				
				var firstNum = chord.letter;
				
				nums.push({number: firstNum});
				
				if(chord.type == "dim"){
					nums.push({number: firstNum + 3});
					nums.push({number: firstNum + 6});
					return nums;
				}
				
				nums.push({number: firstNum + 7})
				
				if(chord.type==""){
					nums.push({number: firstNum + 4});	
				}
				if(chord.type == "m"){
					nums.push({number: firstNum + 3});
				}
				if(chord.type == "7"){
					nums.push({number: firstNum + 3});
					nums.push({number: firstNum + 11});
				}
				if(chord.type == "Maj7"){
					nums.push({number: firstNum + 3});
					nums.push({number: firstNum + 10});
				}
				if(chord.type == "sus"){
					nums.push({number: firstNum + 4});
					nums.push({number: firstNum + 5});
				}
				
				return nums;
			}
			
			$scope.setChord = function(num){
				
				var currentChord = $scope.chords[num];
				var chordNotes = getChordNotes(currentChord);
				
				for(var  i = 0; i < $scope.keyboard.length; i++){
					for(var j = 0; j < chordNotes.length; j++){
						if(chordNotes[j].number == $scope.keyboard[i].number){
							$scope.keyboard[i].inPlay = true;
							break;
						}else{
							$scope.keyboard[i].inPlay = false;
						}
					}
				}
				
				if(num + 1 < $scope.chords.length){
					$timeout(function(){$scope.setChord(num + 1);}, 3000);
				}
			}
			
			$scope.play = function(){
				$scope.setChord(0);
			}
		});
		
	</script>
	
	<style>
		html, body{padding: 0; margin: 0; width: 100%; height: 100%;}
		#main-container{ min-height: 100%; max-width: 1000px; margin: auto; margin-top: 20;}
		footer, div.push-footer{ height: 100px; clear: both;}
		footer { margin-top: -100px; }
		.note{ position:relative; z-index: 5; border: 1px solid black; width: 40px; height: 200px; display: inline-block; text-align: center; line-height: 100px;}
		.black{ z-index: 10; background: black; color: white; height: 150px; margin-left: -15px; margin-right: -15px; width: 30px;}
		.note.inPlay{ background: blue;}
		.button{cursor: pointer;}
	</style>
</body>
</html>
